:root {
  --background-color: #f2efea;
  --clr-black: #18100b;
  --clr-darkblue: #516a90;
  --clr-skyblue: #7eaed9;
  --clr-lightblue: #cce7ee;
  --clr-crimson: #bf1523;
  --text-decoration-coral: #f58972;
  --text-decoration-yellow: #f2a516;
  --font-family: monospace;

  /*--text-decoration-color-100: #a5b0e6;
--input-border-color: #f6f6f6;
--input-background-color: #f6f6f6; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: var(--clr-black);
}

body {
  padding: 0;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
  background-color: var(--background-color);
}

/*------------------the header & logo*/
header {
  font-family: monospace;
  font-weight: 400;
  border: 2px solid white;
}

header {
  display: flex;
  justify-content: flex-start;
}

.logo_container {
  width: 200px;
  /* border: 1px solid blue; */
  /* margin: 0.8rem 1rem; */
  /* height: auto; */
}

img.logo {
  width: 100%;
  height: auto;
  /*to limit the size*/
  max-width: 400px;
}

/*------------------breadcrumbs - brand categories*/
ol {
  margin: 1rem 0rem;
  list-style-type: none;
  text-transform: uppercase;
  border: 1px solid white;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  /* gap: 1rem; */
}

.breadcrumbs a {
  color: var(--clr-crimson);
}

.breadcrumbs a {
  text-decoration: none;
  padding: 0rem 0.5rem;
}

.breadcrumbs li::after {
  display: inline-block;
  content: "//";
  font-weight: 800;
}

@media (max-width: 700px) {
  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
  }
  .breadcrumbs a {
    font-size: small;
  }
}
/*------------------Main Grid*/

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 300px));
  gap: 2rem;
  padding-top: 2rem;
  border: 1px solid white;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0.5px 10px 10px lightgrey;
}

.item img {
  padding: 1rem;
}

.item h5 {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}
.item h4 {
  text-transform: uppercase;
  border-bottom: 1px solid black;
  font-weight: 400;
  padding-bottom: 0.5rem;
}
.item p {
  border: 1px solid lightgrey;
  padding: 0.5rem 0.4rem;
  font-style: italic;
}
.btn-area {
  display: flex;
  justify-content: center;
  padding: 0.4rem 0rem;
}
.btn-specs {
  width: fit-content;
  border: 1.5px solid var(--clr-crimson);
  border-radius: 6px;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 400;
  background-color: transparent;
  cursor: pointer;
}
.btn-specs:hover {
  border: 2px solid var(--clr-crimson);
  background-color: var(--text-decoration-coral);
  font-weight: 500;
  transition: 0.3s;
}

.btn-specs:active {
  transition: 0.1s;
  box-shadow: 1px 2px 4px var(--text-decoration-coral);
}

.price span {
  padding-left: 0.5rem;
}

.inStock span {
  padding-left: 0.5rem;
}
